<tr>
    <td width="10%">
        <a href="~language_prefix~/~pagename~/backups/restore/~file_name~"
           title="*Restore*"
           class="edit"><i class="fa fa-history"></i></a>
        <a href="~file_path~"
           title="*Download*"
           class="edit"><i class="fa fa-download"></i></a>
        <a href="~language_prefix~/~pagename~/backups/delete/~file_name~"
           title="*Delete*"
           onclick="return confirm('*Are you sure want to delete this backup file*?');"
           class="delete"><i class="fa fa-trash-o"></i>
        </a>
    </td>
    <td width="30%" class="text-left"><a href="~file_path~">~file_name~</a></td>
    <td width="30%" class="text-left">~file_size~</td>
    <td width="30%" class="text-left">~file_date~</td>
</tr>